torch==1.10.0
torchvision
numpy
SharedArray
opencv-python
piq
einops
wandb
pytorch_lightning
GPUtil
termcolor
ipdb
PyMCubes
trimesh
plyfile
pillow
scikit-image=0.16.2
numba
pycuda
open3d
scikit-learn
pyembree